{% extends 'base.html.twig' %}

{% block body %}

	<h1>
		{{synthese.title}}
	</h1>
	<div class="metadata"> Ecrit le 10/10/2020<div>
		<div class="content">
			<p>{{synthese.content}}</p>

		</div>
{% if synthese.NombreParticipants < synthese.NombreMaxParticipants %}
{{form_start(form)}}
<button type="submit" class="btn btn-success">Participer</button>
{{form_end(form)}}
{% endif %}

		{% endblock %}
